In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("exoplanet.csv", low_memory=False)
df.shape

(39158, 355)

In [3]:
df.head()

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,pl_refname,...,sy_jmagerr1,sy_jmagerr2,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2
0,WASP-39 b,b,WASP-39,NaN,NaN,TIC 181949561,Gaia DR2 3643098875168270592,Gaia DR3 3643098875168270592,0,<a refstr=FAEDI_ET_AL__2011 href=https://ui.ad...,...,0.024,-0.024,10.663&plusmn;0.024,10.307,0.023,-0.023,10.307&plusmn;0.023,10.202,0.023,-0.023
1,HAT-P-1 b,b,HAT-P-1,NaN,NaN,TIC 346338552,Gaia DR2 1928431764627661440,Gaia DR3 1928431764627661440,0,<a refstr=TORRES_ET_AL__2008 href=https://ui.a...,...,0.026,-0.026,9.156&plusmn;0.026,8.923,0.030,-0.030,8.923&plusmn;0.030,8.858,0.018,-0.018
2,HR 8799 d,d,HR 8799,HD 218396,HIP 114189,TIC 245368902,Gaia DR2 2832463659640297472,Gaia DR3 2832463659640297472,1,<a refstr=MAROIS_ET_AL__2008 href=https://ui.a...,...,0.027,-0.027,5.383&plusmn;0.027,5.280,0.018,-0.018,5.280&plusmn;0.018,5.240,0.018,-0.018
3,HD 156279 b,b,HD 156279,HD 156279,HIP 84171,TIC 232606278,Gaia DR2 1631084478574318976,Gaia DR3 1631084478574318976,0,<a refstr=DIAZ_ET_AL__2012 href=https://ui.ads...,...,0.018,-0.018,6.677&plusmn;0.018,6.346,0.026,-0.026,6.346&plusmn;0.026,6.269,0.023,-0.023
4,GJ 832 b,b,GJ 832,HD 204961,HIP 106440,TIC 139754153,Gaia DR2 6562924609150908416,Gaia DR3 6562924609150908416,0,<a refstr=BONFILS_ET_AL__2013 href=https://ui....,...,0.032,-0.032,5.349&plusmn;0.032,4.766,0.256,-0.256,4.766&plusmn;0.256,4.501,0.018,-0.018

In [4]:
df.info

<bound method DataFrame.info of            pl_name pl_letter   hostname    hd_name    hip_name         tic_id  \
0        WASP-39 b         b    WASP-39        NaN         NaN  TIC 181949561
1        HAT-P-1 b         b    HAT-P-1        NaN         NaN  TIC 346338552
2        HR 8799 d         d    HR 8799  HD 218396  HIP 114189  TIC 245368902
3      HD 156279 b         b  HD 156279  HD 156279   HIP 84171  TIC 232606278
4         GJ 832 b         b     GJ 832  HD 204961  HIP 106440  TIC 139754153
...            ...       ...        ...        ...         ...            ...
39153    TOI-270 b         b    TOI-270        NaN         NaN  TIC 259377017
39154    TOI-270 c         c    TOI-270        NaN         NaN  TIC 259377017
39155     K2-138 c         c     K2-138        NaN         NaN    TIC 4610830
39156     K2-138 b         b     K2-138        NaN         NaN    TIC 4610830
39157     K2-138 e         e     K2-138        NaN         NaN    TIC 4610830

                        gaia_dr2_id                   gaia_dr3_id  \
0      Gaia DR2 3643098875168270592  Gaia DR3 3643098875168270592
1      Gaia DR2 1928431764627661440  Gaia DR3 1928431764627661440
2      Gaia DR2 2832463659640297472  Gaia DR3 2832463659640297472
3      Gaia DR2 1631084478574318976  Gaia DR3 1631084478574318976
4      Gaia DR2 6562924609150908416  Gaia DR3 6562924609150908416
...                             ...                           ...
39153  Gaia DR2 4781196115469953024  Gaia DR3 4781196115469953024
39154  Gaia DR2 4781196115469953024  Gaia DR3 4781196115469953024
39155  Gaia DR2 2413596935442139520  Gaia DR3 2413596935442139520
39156  Gaia DR2 2413596935442139520  Gaia DR3 2413596935442139520
39157  Gaia DR2 2413596935442139520  Gaia DR3 2413596935442139520

       default_flag                                         pl_refname  ...  \
0                 0  <a refstr=FAEDI_ET_AL__2011 href=https://ui.ad...  ...
1                 0  <a refstr=TORRES_ET_AL__2008 href=https://ui.a...  ...
2                 1  <a refstr=MAROIS_ET_AL__2008 href=https://ui.a...  ...
3                 0  <a refstr=DIAZ_ET_AL__2012 href=https://ui.ads...  ...
4                 0  <a refstr=BONFILS_ET_AL__2013 href=https://ui....  ...
...             ...                                                ...  ...
39153             0  <a refstr=KOKORI_ET_AL__2023 href=https://ui.a...  ...
39154             0  <a refstr=EXOFOP_TESS_TOI href=https://exofop....  ...
39155             1  <a refstr=LOPEZ_ET_AL__2019 href=https://ui.ad...  ...
39156             0  <a refstr=HARDEGREE_ULLMAN_ET_AL__2021 href=ht...  ...
39157             0  <a refstr=HARDEGREE_ULLMAN_ET_AL__2021 href=ht...  ...

      sy_jmagerr1 sy_jmagerr2           sy_jmagstr sy_hmag sy_hmagerr1  \
0           0.024      -0.024  10.663&plusmn;0.024  10.307       0.023
1           0.026      -0.026   9.156&plusmn;0.026   8.923       0.030
2           0.027      -0.027   5.383&plusmn;0.027   5.280       0.018
3           0.018      -0.018   6.677&plusmn;0.018   6.346       0.026
4           0.032      -0.032   5.349&plusmn;0.032   4.766       0.256
...           ...         ...                  ...     ...         ...
39153       0.032      -0.032   9.099&plusmn;0.032   8.531       0.073
39154       0.032      -0.032   9.099&plusmn;0.032   8.531       0.073
39155       0.021      -0.021  10.756&plusmn;0.021  10.384       0.021
39156       0.021      -0.021  10.756&plusmn;0.021  10.384       0.021
39157       0.021      -0.021  10.756&plusmn;0.021  10.384       0.021

      sy_hmagerr2           sy_hmagstr sy_kmag sy_kmagerr1  sy_kmagerr2
0          -0.023  10.307&plusmn;0.023  10.202       0.023       -0.023
1          -0.030   8.923&plusmn;0.030   8.858       0.018       -0.018
2          -0.018   5.280&plusmn;0.018   5.240       0.018       -0.018
3          -0.026   6.346&plusmn;0.026   6.269       0.023       -0.023
4          -0.256   4.766&plusmn;0.256   4.501       0.018       -0.018
...           ...                  ...     ...         ...          ...
39153      -0.073   8.531&plusmn;0.073   8.251       0.029       -0.029
39154      -0.073   8.531&plusmn;0.073   8.251       0.029       -0.029
39155      -0.021  10.384&plusmn;0.021  10.305       0.021       -0.021
39156      -0.021  10.384&plusmn;0.021  10.305       0.021       -0.021
39157      -0.021  10.384&plusmn;0.021  10.305       0.021       -0.021

[39158 rows x 355 columns]>

In [5]:
df.isnull().sum().sort_values(ascending=False).head(20)

sy_kepmagerr1       39158
sy_kepmagerr2       39158
sy_icmagerr2        39118
sy_icmagerr1        39118
pl_occdeperr1       39114
pl_occdeperr2       39114
sy_icmagstr         39113
sy_icmag            39113
pl_occdeplim        39111
pl_occdep           39111
pl_occdepstr        39111
pl_trueobliqerr2    39098
pl_trueobliqerr1    39098
pl_trueobliqstr     39092
pl_trueobliq        39092
pl_trueobliqlim     39092
pl_cmasseerr2       39074
pl_cmassjerr2       39074
pl_cmassjerr1       39074
pl_cmasseerr1       39074
dtype: int64

In [6]:
df.drop_duplicates(subset=["pl_name"], inplace=True)
df.shape

(6053, 355)

In [7]:
columns_needed = [
    "pl_name", "pl_orbper", "pl_rade", "pl_bmasse", "pl_dens",
    "st_teff", "st_rad", "st_mass", "st_met", "st_lum",
    "sy_dist"
]

df = df[columns_needed]
df.head()

,pl_name,pl_orbper,pl_rade,pl_bmasse,pl_dens,st_teff,st_rad,st_mass,st_met,st_lum,sy_dist
0,WASP-39 b,4.055259,14.235000,88.98900,0.186,5400.0,0.895000,0.930000,NaN,NaN,213.98200
1,HAT-P-1 b,4.465430,13.921578,169.08556,0.345,5975.0,1.135000,1.133000,0.13,0.17026,158.97900
2,HR 8799 d,37000.000000,13.000000,3000.00000,NaN,NaN,NaN,1.500000,-0.47,0.69197,41.24410
3,HD 156279 b,131.050000,NaN,3086.00000,NaN,5453.0,NaN,0.930000,0.14,NaN,36.19450
4,GJ 832 b,3507.000000,NaN,197.04600,NaN,NaN,0.441557,0.437474,NaN,NaN,4.96435

In [8]:
df.isnull().sum()

pl_name         0
pl_orbper     548
pl_rade      2441
pl_bmasse    3838
pl_dens      5512
st_teff       854
st_rad        951
st_mass       998
st_met       2367
st_lum       4362
sy_dist       132
dtype: int64

In [16]:

threshold = len(df) * 0.4
df = df.dropna(thresh=threshold, axis=1)
df.shape

(6053, 8)

In [19]:
df = df.fillna(df.median(numeric_only=True))

In [20]:
df.isnull().sum()

pl_name      0
pl_orbper    0
pl_rade      0
st_teff      0
st_rad       0
st_mass      0
st_met       0
sy_dist      0
dtype: int64

In [21]:
df.to_csv("exoplanet_clean.csv", index=False)